{% include 'dashboard/cabecalho.html' %}

<h1>Formulário de Cadastro</h1>

<form action="/formulario" method="POST">

    <input type="text" name="nome" placeholder="nome">
    <br><br>

    <input type="text" name="data_nascimento" placeholder="data de nascimento">
    <br><br>

    <input type="text" name="cpf" placeholder="CPF">
    <br><br>

    <input type="text" name="nome_mae" placeholder="Nome da Mãe">
    <br><br>

    <button type="submit">Enviar</button>

</form>


<h1>Dados do Cadastro</h1>

<h2>{{ valor_recebido }}</h2>


<h1 class="mb-4">{{ valor_recebido }}</h1>

{% include 'dashboard/rodape.html' %}